
.error {
  position: relative;
  color: red;
  font-size: 12px;

}
.shadow {
  text-shadow: 1px 1px 1px #131212,
    1px 2px 1px #131212,
    1px 3px 1px #131212,
    1px 4px 1px #131212;    
}

h2 {  
  margin-top: 10px;  
  font-weight: bolder;  
  text-shadow: 1px 1px 1px #6d6c6c,
    1px 2px 1px #080808,
    1px 3px 1px #080808;
}


.div-title {  
  color: white;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.content {
  border: 1px solid #000000;     
  font-family: Georgia, 'Times New Roman', Times, serif;  
  background-image: url("../images/mit_institution.jpg");    
  background-size: cover;  
  background-attachment: fixed;   
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}