.main-footer {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(155, 155, 155);
    background-color: #f0f0f1;
    /*background-color: rgb(163, 31, 52);*/
}