.header {
  background-color: #f0f0f1;
}
.right-aligned {
    justify-content: flex-end;
}
.nav-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display:block;
  font-size: large;
  
  color:white;  
}
.nav-link:hover {  
  color:rgb(85, 83, 83);
  font-weight: bold;    
}
.nav-link:active {
  background-color:black;
  font-weight: bold;      
}